
body {
    background-color: #254655;
    max-width: 1600px;
    margin: 0; 
    margin: auto; 
}

header { 
    width: 400px;
    position: fixed; 
    top: 25px; 
    left: 25px;
    font-family: blakely, sans-serif;
    font-weight: 300;
    font-style: normal;
}

h3 {
    color: #944D3B;
    font-size: 45px;
    margin: -5px;
    text-align: center;
    text-shadow: 1px 1px 2px #254655;
}

nav {
    width: 400px;
    position: fixed;
    top: 200px;
    left: 25px; 
    font-family: blakely, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-shadow: 1px 1px 2px #254655;
    box-shadow: 10px 10px 5px #254655;
    
}

nav p {
    font-family: brother-1816, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    color: #DDA562;
}

h4 {
    color: #DDA562;
    font-size: 35px;
    text-shadow: 1px 1px 2px #254655;
}

a:link {
    color: #DDA562;
    font-family: brother-1816, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
}

a:visited {
    color: #944D3B;
    font-size: 20px;
    text-decoration: none;
}

a:hover{
    color: #944D3B;
    font-size: 20px;
    text-decoration: none;
}


main {
    width: 1200px;
    margin-left: 500px;
    margin-right: 50px;
    font-family: brother-1816, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #819182;
    text-align: center;
    text-shadow: 1px 1px 2px #3D5641;
    font-size: 18px;
}

section {
    margin-top: 25px;
    padding: 25px;
}

section p {
    width: 600px;
    margin-left: 300px;
    text-align: center;
}

section img {
    display: block;
    margin: auto;
    border-radius: 20px;
}
section video {
    display: block;
    margin: auto;
    border-radius: 20px;
}

img:hover {
    border: 5px #819182 solid;
    border-radius: 25px;
}

video:hover {
    border: 5px #819182 solid;
    border-radius: 25px;
}

footer {
    width: 400px;
    position: relative;
    bottom: 15px;
    left: 35%;
    font-family: brother-1816, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #819182;
    font-size: 18px;
    text-align: right;
}

::selection {
    background: #944D3B;
}

#campgroundgif {
    max-width: 625px;
    text-align: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.static {
    position:absolute;
    background: none;
  }
  
  .static:hover {
    opacity:0;
    border: 3px #295B6D solid;
    border-radius: 20px;
  }

.navigation {
    position: fixed;
    top: 0px; 
    left: 0px; 
    width: 450px;
    height: 100%; 
    background-color:  #295B6D;
}

.feed {
    display: flex;
}

.row_img {
    width: ; 
    padding: 20px; 
}

.booktok {
    display: flex;
}

.tiktok {
    width: ; 
    margin: 20px; 
}

.introduction {
    width: 400px;
    box-shadow: 10px 10px 5px #254655 ;
}



